<div class="reset">
        <div style="text-align:center">
              <h1>
                Reset Password
              </h1>
                <form 
                  [formGroup]="ResetForm"  
                  (ngSubmit)="resetPassword()"
                >
                     
                    <input 
                      formControlName="password"
                      id="password-input" 
                      class="form-control" 
                      type="password" 
                      name="password"
                      placeholder="new password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    >
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                    <br>
                    <input 
                      formControlName="confirmPassword"
                      class="form-control" 
                      type="password" 
                      name="confirm password"
                      placeholder="confirmPassword"
                      [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    >
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.passwordMatch">Passwords must match</div>
                    </div>
                    <br>
                    <button 
                      type="submit"
                    >
                      Submit
                    </button>
                
                </form>
          
            
              </div>
      
      </div>