<div class="password">
        <div style="text-align:center">
              <h1>
                Password Reset
              </h1>
                <form 
                  [formGroup]="ResetForm"  
                  (ngSubmit)="reset()" 
                  id="login-form"
                >
                     <input 
                      formControlName="email"
                      id="email-input" 
                      class="form-control" 
                      type="text" 
                      name="email"
                      placeholder="email"
                      email
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    >
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.pattern">Email is invalid</div>
                   
                    </div>
                    <br>
                  
                    <button 
                      type="submit"
                      (click)="open(content)"
                    >
                      Submit
                    </button>
                </form>  
              </div>


              <ng-template #content let-modal>
                <div class="modal-body">
                  <div style="text-align: center">
                    <br>
                    <br>
                    <p>Password reset link has been sent to the email provided.</p>
                    <br>
                  </div>
                  <button class="btn btn-primary float-right" (click)="redirect()">Ok</button>
                </div>
                
              </ng-template>
      
      </div>